<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start" >
      <ion-menu-button>
      </ion-menu-button>
    </ion-buttons>
    <ion-title>Dashboard</ion-title>
  </ion-toolbar>
  
</ion-header>

<ion-content padding="true">
 <!-- <ion-list>
  <ion-item>
    <ion-label position="floating"> Member Name </ion-label>
    <ion-input type="text" id="membername"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Group Name</ion-label>
    <ion-select value="Group1" okText="Okay" cancelText="Dismiss">
      <ion-select-option value="Group1">Group1</ion-select-option>
      <ion-select-option value="Group2">Group2</ion-select-option>
      <ion-select-option value="Group3">Group3</ion-select-option>
      <ion-select-option value="Group4">Group4</ion-select-option>
    </ion-select>
  </ion-item>
 </ion-list>
 <ion-button style="margin-left: 15px;margin-top: 10px;">
  Search
</ion-button> -->
</ion-content>


