<!-- <ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start" >
      <ion-menu-button>
      </ion-menu-button>
    </ion-buttons>
    <ion-title>Chit Details</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>

</ion-content> -->


<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start" >
      <ion-menu-button>
      </ion-menu-button>
    </ion-buttons>
    <ion-title>Chit Details</ion-title>
  </ion-toolbar>
  
</ion-header>

<ion-content padding="true">

   <!-- <ion-card *ngFor="let item of memberchitdetailsArr" color="light" class="ion-text-center" (click)="getPaymentDetailsByGrpMember(item)" >

     <ion-header>
      <ion-title>{{item.groupName}}</ion-title>
    </ion-header>
    <ion-content>
      {{item.firstname}}
    </ion-content> 

    <ion-card-content>
      <ion-card-title>
          <ion-icon name="contact"></ion-icon>  {{item.groupName}}     
      </ion-card-title>
  </ion-card-content>


  </ion-card> <!-->

    <ion-card *ngFor="let item of memberchitdetailsArr" (click)="getPaymentDetailsByGrpMember(item)" color="primary">
      <ion-card-header>
        <ion-card-title>{{item.groupName}}</ion-card-title>
      </ion-card-header>
      <!-- <ion-card-content>
        Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the Wisconsin Territory in 1836.
      </ion-card-content> -->
    </ion-card>

</ion-content>


