<ion-header>
  <ion-toolbar>
    <ion-title>
     Kumara JenaSeva Sangam
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="auth-form">
  <ion-grid>
    <ion-row  style="align-items: center">
      <ion-col align-self-center>
        <ion-button  expand="block" color="primary" [routerLink]="['/registration']">Register</ion-button>
        <!-- [routerLink]="['/registration']" -->
        <span class="divider line one-line">or</span>

        <span class="already">Already a user?</span>
        <ion-button expand="block" color="danger" [routerLink]="['/login']" >Sign In</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
